@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?r80p6h');
  src:  url('../fonts/icomoon.eot?r80p6h#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?r80p6h') format('truetype'),
    url('../fonts/icomoon.woff?r80p6h') format('woff'),
    url('../fonts/icomoon.svg?r80p6h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icofom-"], [class*=" icofom-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icofom-motori:before {
    content: "\e902";
}

.icofom-assi:before {
    content: "\e901";
}

.icofom-motoriassi:before {
  content: "\e900";
}
.icofom-centrolavoro:before {
  content: "\e94b";
}
.icofom-lineataglio:before {
  content: "\e94c";
}
.icofom-lineatagliolavoro:before {
  content: "\e94d";
}
.icofom-troncatrice:before {
  content: "\e94e";
}
.icofom-alarms:before {
  content: "\e94f";
}
.icofom-efficiency:before {
  content: "\e950";
}
.icofom-fresa:before {
  content: "\e951";
}
.icofom-jobs:before {
  content: "\e952";
  margin-left: -1px;
}
.icofom-lama:before {
  content: "\e953";
}
.icofom-manual:before {
  content: "\e954";
}
.icofom-overfeed:before {
  content: "\e955";
}
.icofom-pause:before {
  content: "\e956";
}
.icofom-productivity:before {
  content: "\e957";
}
.icofom-punta:before {
  content: "\e958";
}
.icofom-spindles:before {
  content: "\e959";
}
.icofom-user:before {
  content: "\e95a";
}
