body {
    font-family: 'Roboto Mono', monospace;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 300;
    /*color: #fff;*/
    background: #818181;
    /*background: linear-gradient(to bottom, #6a8790, #2A373B);*/
}

.container-fluid {
    height: 100vh;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

.container-login {
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin-top: 0;
    padding: 50px;
    background: #bebebe;
    /*background: #D1839A;
    background: -webkit-linear-gradient(to top, #D1839A, #862541);
    background: linear-gradient(to top, #D1839A, #B33157);*/
    /*background: rgba(221, 221, 221, 0.1);
    border: solid 1px #ddd;*/
}

.login_burger_menu {
    position: fixed;
    top: 10px;
    right: 1em;
    font-size: 2.5em;
    color: #A61646;
    z-index: 50;
}

.color-corporate {
    color: #B33157;
}


.mobile-login-menu .main-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-login-menu .main-menu a {
    display: block;
    text-decoration: none;
    padding: 10px 15px 10px 25px;
    color: #707070;
    font-size: 13px;
    transition: 0.3s;
    border-bottom: solid 1px #ddd;
}

.mobile-login-menu .main-menu a:hover {
    background-color: #ddd;
}

.mobile-login-menu .main-menu li:hover .sub-menu {
    display: block;
    max-height: 220px;
}

.mobile-login-menu .main-menu .dd-logo {
    padding: 10px 20px;
    border-bottom: solid 1px #ddd;
}

.mobile-login-menu .main-menu .sub-menu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

    .mobile-login-menu .main-menu .sub-menu a {
        background-color: #e6e6e6;
        padding: 13px 35px;
    }

        .mobile-login-menu.main-menu .sub-menu a:active {
            background-color: rgba(179, 49, 87, 0.2);
            color: #555;
        }

    .mobile-login-menu .main-menu .sub-menu li.active a,
    .mobile-login-menu .main-menu .sub-menu li:hover a {
        background-color: #ddd;
    }

.main-menu .dd-item {
    position: relative;
}

    .main-menu .dd-item i {
        width: 15px;
        text-align: center;
        vertical-align: top;
    }

    .main-menu .dd-item div {
        display: inline-block;
    }

/* end login menu*/

.row {
    height: 100%;
}


.col-sm-12 {
    padding: 0;
    height: 100%;
}


.header {
    text-align: center;
    font-size: 42px;
    /*line-height: 2em;*/
    margin-bottom: 60px;
    margin-top: 35px;
}

    .header img.logo {
        height: 118px;
        width: auto;
    }

    .header img.logo2 {
        width: 350px;
    }

img.logo3 {
    width: 200px;
}


.form-group {
    position: relative;
    margin-bottom: 15px;
}

    .form-group i {
        position: absolute;
        top: 12px;
        left: 10px;
        /*color: #ddd;*/
    }

    .form-group .form-control {
        padding: 10px 7px 7px 35px;
        /*border: none;*/
        border: 1px solid black;
        color: black;
        /*font-size: 14px;*/
        border-radius: 0 !important;
        background-color: white;
        height: auto;
        box-shadow: none;
    }

        .form-group .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #ccc;
            letter-spacing: 1px;
        }

        .form-group .form-control::-moz-placeholder { /* Firefox 19+ */
            color: #ccc;
            letter-spacing: 1px;
        }

        .form-group .form-control:-ms-input-placeholder { /* IE 10+ */
            color: #ccc;
            letter-spacing: 1px;
        }

        .form-group .form-control:-moz-placeholder { /* Firefox 18- */
            color: #ccc;
            letter-spacing: 1px;
        }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill {
    border-bottom: 1px solid black !important;
    /*-webkit-text-fill-color: #fff;*/
    -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
    -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.1) inset !important;
    box-shadow: 0 0 0 1000px #ffffff inset !important;
    box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.1) inset !important;
    -moz-transition: background-color 5000s ease-in-out 0;
    -o-transition: background-color 5000s ease-in-out 0;
    -webkit-transition: background-color 5000s ease-in-out 0;
    transition: background-color 5000s ease-in-out 0;
}

.form-actions {
    text-align: right;
    margin-top: 40px;
    color: #403d3d;
}

    .form-actions button {
        /*color: #ddd;*/
        border: solid 1px;
        padding: 15px 45px;
        background-color: transparent;
        font-size: 15px;
        letter-spacing: 2px;
        font-weight: 500;
        border-radius: 3px;
        border-style: double;
    }


        .form-actions button:hover,
        .form-actions button:active,
        .form-actions button:visited,
        .form-actions button:focus {
            -moz-transition: all 0.3s ease-in;
            -o-transition: all 0.3s ease-in;
            -webkit-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in;
            background-color: #B33157;
            outline: 0;
            cursor: pointer;
        }

.row {
    height: auto;
}

.container-login {
    padding: 30px 20px;
    border-radius: 10px;
    margin: auto;
    margin-top: 70px;
    box-shadow: #000000 0 2px 7px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 2px 7px;
    max-width: 450px;
    color: #403d3d;
}

    .container-login .content {
        padding: 0 25px;
    }

.header, .content {
    max-width: 100%;
}

.form-actions button {
    font-size: 20px;
}


@media(min-width:992px) {

    .header {
        margin-bottom: 30px;
        margin-top: 0;
    }

    .container-login {
        height: 655px !important;
    }

    .logo-login {
        width: 215px !important;
        padding: 0;
    }

    #disclamerTextLink {
        padding-top: 20px;
        font-size: 14px;
    }
}

@media(max-width:991px) {
    .container-login {
        width: 650px;
        height: 284px;
        padding: 10px 20px;
        max-width: 650px;
        margin-top: 20px;
    }

        .container-login .content {
            padding: 30px 25px 0;
        }

    .header, .content {
        max-width: unset;
    }

    .header {
        font-size: 30px;
        margin-bottom: 20px;
        margin-top: 0;
    }

        .header img.logo {
            height: 83px;
        }

    .logo-login {
        padding: 0;
    }

    .header img.logo2 {
        width: 260px;
    }

    #disclamerTextLink {
        font-size: 10px;
        padding: 0;
        margin-top: -50px;
    }

    .form-actions button {
        font-size: 14px;
        padding: 9px 27px;
    }
}

@media (max-width: 768px) {
    .login_burger_menu {
        right: 0.7em;
    }
    
    element.style {
        right: 0px;
    }
    .mobile-login-menu {
        width: 30%;
        right: -30%;
    }
    .mobile-login-menu .dd-logo .logo {
        width: 30px
    }
    .mobile-login-menu .dd-logo .scritta {
        width: 96px
    }

}
    @media (max-width: 576px) {
        .header {
            font-size: 30px;
            margin-bottom: 5px;
            margin-top: 0;
        }

            .header img.logo {
                height: 83px;
            }

            .header img.logo2 {
                width: 260px;
            }

        .container-login .content {
            padding: 0 !important;
        }

        .logo-login {
            padding: 0;
            top: -10px;
        }

            .logo-login .img-fluid {
                width: 146px;
            }

        .form-actions {
            padding: 0;
            text-align: left;
        }

            .form-actions button {
                font-size: 14px;
                padding: 9px 27px;
            }

        .container-login {
            width: 315px;
            height: 458px !important;
            padding: 10px 20px !important;
        }

        .row {
            margin-top: 30px;
        }


        #disclamerTextLink {
            padding-top: 0;
            font-size: 10px;
            margin-top: 0;
        }

        .form-group {
            margin-bottom: 5px;
        }

        .faqImg {
            margin: inherit;
            width: 50%;
        }
    }

    @media(max-width: 1023px) {
        .form-group i {
            top: 8px;
        }

        .form-group .form-control {
            height: 32px;
            font-size: 14px;
        }
    }


@media(max-height: 420px) {
    .login_burger_menu {
        right: 0.5em;
    }

}
    /* Small devices (tablets, 768px and up) */
    /* Medium devices (desktops, 992px and up) */
    /*#region alert validation */
    .alert {
    padding: 0 1.25rem 0.6rem;
}

    .alert.validation {
        border: 1px solid transparent;
        border-radius: 4px;
        margin-bottom: -10px;
        padding: 0 0 10px;
    }



        .alert.validation .alert-danger {
            border-radius: 3px;
            background-color: #B33157;
            color: #fff;
            padding: 5px;
            padding-bottom: 0;
            text-align: center;
            border: solid 1px;
        }

            .alert.validation .alert-danger ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
            }

                .alert.validation .alert-danger ul li {
                    margin-bottom: 5px;
                }






/*#endregion */


.modal-dialog {
    background-color: #eee;
}

.modal-content {
    position: relative;
    background-color: #eee;
    box-shadow: none;
    border: none;
}

.modal-footer {
    border: none;
    padding: 20px;
    padding-top: 0px;
}

    .modal-footer button {
        height: 36px;
        /* border: solid 1px #fff; */
        background-color: #ddd;
        border-radius: 5px;
        font-weight: 300;
        font-family: 'Lato';
    }

        .modal-footer button:hover {
            outline-offset: 15px;
            border: solid 1px #fff;
        }

    .modal-footer .btn-confirm:focus {
        background-color: #ddd;
        border: solid 1px #fff;
        outline: none;
        border-color: #fff;
    }

    .modal-footer .btn-annulla:focus {
        color: #fff;
        background-color: #ddd;
        border: solid 1px #fff;
        outline: none;
        border-color: #fff;
    }

#alert-refresh-page {
    cursor: pointer;
}
