
.container-plant-manager {
    margin-bottom: 25px;
    padding: 0 !important;
}

/*#region table*/

.plants-table {
    box-shadow: 0px 2px 7px rgba(0,0,0,0.25);
    margin-top: 10px !important;
}

    .plants-table thead tr th {
        background-color: #eee;
        border-bottom: solid 1px #b33157 !important;
        color: #b33157;
        text-transform: uppercase;
        border-bottom: 0px solid;
        letter-spacing: 1px;
        font-weight: 500;
        font-size: 15px;
    }

    .plants-table tbody tr {
        background-color: #eee !important;
        color: #676767;
    }

    .plants-table thead th {
        padding: 12px 22px !important;
    }

    .plants-table tbody td {
        vertical-align: middle !important;
        padding: 12px 22px !important;
    }

    .plants-table tbody tr th {
        background-color: rgba(221, 221, 221, 0.5);
    }

    .plants-table > tbody > tr > td {
        border-top: solid 1px #ddd;
    }

#plants-table_filter label input {
    color: #676767 !important;
    background-color: #ddd;
}

    #plants-table_filter label input:focus {
        border-color: #b33157;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(179, 49, 87, 0.65);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(179, 49, 87, 0.65);
    }

/*#endregion*/

/*#region button*/

.button-addplant {
    color: #b33157;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 15px;
    display: inline-block;
    padding: 8px;
    background-color: #ddd;
    border-radius: 4px;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.25);
    cursor: pointer;
    position: absolute;
    z-index: 1;
}

    .button-addplant i {
        margin-right: 5px;
    }

.btn-modify {
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    border-radius: 3px;
    color: #b33157;
    font-weight: 500;
    background-color: #ddd;
    cursor: pointer;
}

    .btn-modify:hover {
        background-color: #B33157;
        color: #fff;
    }

.btn-disactive {
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    border-radius: 3px;
    color: #676767;
    font-weight: 500;
}


.btn-active {
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    border-radius: 3px;
    color: #25a771;
    font-weight: 500;
}

/*#endregion*/

/*#region MODAL*/

.modal-dialog .modal-title {
    color: #b33157;
    text-transform: uppercase;
}

#plant-modal-form label {
    line-height: 2;
}

.modal-dialog .modal-input {
    color: #676767;
    background-color: #fafafa;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    cursor: pointer;
}

.modal-dialog input:focus {
    border: 1px solid #B33157;
    color: #676767;
}

.modal-dialog input:active {
    border: 1px solid #B33157;
    color: #676767;
}

.modal-dialog .modal-footer {
    background-color: #eee !important;
    border-top: solid 1px #ddd;
    padding-top: 15px;
}

.modal-dialog .btn-annulla {
    font-family: 'Roboto Mono', monospace !important;
    font-size: 13px;
    color: #676767;
    font-weight: 400;
}

.modal-dialog .btn-confirm {
    font-family: 'Roboto Mono', monospace !important;
    font-size: 13px;
    background-color: #eee;
    border: solid 1px #b33157;
    color: #b33157;
    font-weight: 400;
}

    .modal-dialog .btn-confirm:hover {
        font-family: 'Roboto Mono', monospace !important;
        font-size: 13px;
        border: solid 1px #b33157;
        color: #fff;
        background-color: #b33157;
    }

.modal-dialog .btn-annulla:hover {
    background-color: #ddd;
    border: 2px solid #676767;
}

.modal-dialog .close:focus {
    outline: none;
}

.modal-dialog .bootstrap-select .btn.btn-default {
    background-color: #fff;
    border-radius: 4px;
}

.modal-dialog .bootstrap-select .btn-default:active {
    border: 1px solid #B33157;
    box-shadow: none;
    border-radius: 4px;
}

.modal-dialog .bootstrap-select .btn-default:focus {
    border: 1px solid #B33157;
    box-shadow: none;
    border-radius: 4px;
}

.modal-dialog .bootstrap-select .btn.btn-default .filter-option {
    padding: 8px 15px 8px 0px !important;
}

#plant-modal-form {
    padding: 10px;
}

.validation {
    padding: 6px 0px;
    font-size: 12px;
}

.input-disabled {
    pointer-events: none;
}

.form-horizontal {
    padding-top: 15px;
}
/* The container */
.container-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-top: 7px;
    cursor: pointer;
    font-size: 22px;
    -webkit-plant-select: none;
    -moz-plant-select: none;
    -ms-plant-select: none;
    plant-select: none;
}

    /* Hide the browser's default checkbox */
    .container-checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

/* Create a custom checkbox */
.checkmark {
    border-radius: 5px;
    border: solid 2px #B33157;
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
    background-color: #B33157;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
    background-color: #B33157;
    border-radius: 5px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*#endregion*/

/*#region responsive */



@media (max-width: 768px) {

    .dataTables_wrapper {
        overflow-x: auto;
    }

    .plants-table {
        margin-top: 50px !important;
    }

    .dataTables_filter {
        margin-top: 0px !important;
        position: fixed;
        right: 20px;
        z-index: 4;
    }

        .dataTables_filter label input {
            height: 34px;
        }

    .button-addplant {
        margin-left: 0px !important;
        max-width: 55vw;
    }
}

@media (max-width: 400px) {
    .dataTables_filter {
        right: 60px;
        width: 40%;
    }
}

/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/*#endregion */
