.row-toolbar .col-padding {
    padding-left: 0px;
    padding-right: 0px;
}

/* small device */
@media (min-width: 768px) {
    .row-toolbar .col-sm-8 {
        padding-left: 15px;
        padding-right: 0px;
    }

    .row-toolbar .col-sm-4 {
        padding-right: 15px;
        padding-right: 15px;
    }
}



.btn-toolbar {
    border-radius: 0px;
    background-color: transparent;
    border: none;
    padding: 7px 10px 5px 10px;
    height: 35px;
    margin-left: 0px;
    background-color: #243033;
    border-top: solid 1px #1F282B;
}

    .btn-toolbar:hover {
        border-bottom: solid 1px #C56080;
        color: #fff;
        cursor: pointer;
    }

    .btn-toolbar > div {
        display: inline-block;
        vertical-align: text-top;
    }

    .btn-toolbar .icon-btn {
        font-size: 1.5em;
        line-height: 1;
    }

    .btn-toolbar .title-btn {
        font-size: 13px;
        text-align: left;
        padding-left: 3px;
        padding-right: 5px;
        line-height: 1.2;
    }

    .btn-toolbar.only-icon {
        padding: 7px 10px;
        text-align: left;
    }

        .btn-toolbar.only-icon .icon-btn {
            font-size: 1.5em;
        }

#calendar.btn-toolbar .title-btn {
    line-height: 0.85;
}

/*#region info macchina */

.info-macchina {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    font-size: 11px;
}

.table-info {
    margin-bottom: 0px;
}

    .table-info > tbody > tr > td {
        padding: 8px;
        border-top: 1px solid #2A373B;
    }

    .table-info > tbody > tr:first-child > td {
        border-top: none;
    }

/*#endregion */

.dropdown-toolbar .dropdown-content {
    background-color: #1F282B;
    border: solid 1px #2A373B;
}

/*#region daterange picker */

.daterangepicker {
    border-color: #2A373B;
    background-color: #1F282B;
}

    .daterangepicker:before {
        border-bottom: 7px solid #2A373B;
    }

    .daterangepicker:after {
        border-bottom: 6px solid #1F282B;
    }

    .daterangepicker th.month {
    }

    .daterangepicker .calendar th {
        /*font-weight: 500;*/
    }

    .daterangepicker .calendar td {
    }

    .daterangepicker .calendar-table {
        border: 1px solid #1F282B;
        background-color: #1F282B;
    }

    .daterangepicker .input-mini.active {
        border: 1px solid #C56080;
    }

    .daterangepicker .input-mini {
        border: 1px solid #2A373B;
        background-color: #2A373B;
        color: #aaa;
    }

    .daterangepicker td.in-range {
        background-color: #2A373B;
        border-color: transparent;
        border-radius: 0;
        color: #fff;
    }

    .daterangepicker td.end-date {
        border-radius: 0 4px 4px 0;
    }

    .daterangepicker td.active,
    .daterangepicker td.active:hover {
        background-color: #C56080;
    }

    .daterangepicker td.off,
    .daterangepicker td.off.in-range,
    .daterangepicker td.off.start-date,
    .daterangepicker td.off.end-date {
        background-color: #1F282B;
        color: #999;
        font-weight: 300;
    }

    .daterangepicker td.available:hover,
    .daterangepicker th.available:hover {
        background-color: #C56080;
        border-color: transparent;
    }

.ranges li {
    background-color: #1F282B;
    border: 1px solid #2A373B;
    color: #aaa;
}

    .ranges li:hover,
    .ranges li.active {
        background-color: #C56080;
        border: 1px solid #C56080;
        color: #fff;
    }

.range_inputs {
    float: right;
    margin-top: 10px;
}

.daterangepicker .btn-success {
    color: #C56080;
    background-color: #1F282B;
    border-color: #C56080;
}

    .daterangepicker .btn-success:hover {
        color: #fff;
        background-color: #C56080;
        border-color: #C56080;
    }

.daterangepicker .btn-default {
    background-color: #1F282B;
    border: 2px solid #2A373B;
    color: #aaa;
}

    .daterangepicker .btn-default:hover {
        background-color: #2A373B;
        border: 2px solid #2A373B;
        color: #fff;
    }

/*#endregion */


.img-machine.small {
    height: 21px;
    width: auto;
}
