
@model FomMonitoringBLL.ViewModel.PanelParametersViewModel
@using FomMonitoringCore.Service

<div id="CardAxesLmx" class="@ViewData["Classes"]" v-show="showed">
    <div class="portlet">
    <div class="portlet-title">
        <div class="portlet-kpi">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x" v-bind:class="colorKPI"></i>
                <i class="fa icofom-assi fa-stack-1x fa-inverse" style="font-size:1.5em"></i>
            </span>
        </div>
        <div class="title-kpi" style="max-width: 300px;">
            <span class="testo-abbreviato">@LocalizationService.GetResource("LMX650_LinearAxes")</span>
            <div class="sub-period">@LocalizationService.GetResource("UntilNow")</div>
        </div>
    </div>
    <div class="portlet-body text-center" style="height: 244px">
        <div class="card-portlet">
            <div v-if="axes != null && axes.length > 0" style="height: 242px" class="slimscroll">
                <hr style="background-color: #0c3817; height: 2px; border: none"/>
                <div style="cursor: auto; height: 100%">
                    <table class="table-tools-fmc" style="height: 100%; background-color: #bebebe;">
                        <tr>
                            <td class="td-axes" v-bind:class="{ 'td-tools-dark': index % 2 != 0, 'td-tools-light': index % 2 == 0 }" v-for="(axes, index) in firstRow">
                                <label style="font-size: 0.7rem;"><i class="fa icofom-assekm fa-2x" aria-hidden="true"></i></label>
                                <label v-if="axes != null && axes.Description != null" class="label-electrospindle-title" v-html="axes.Description"></label>
                            </td>
                        </tr>
                        <tr>
                            <td class="td-axes no-padding" v-bind:class="{ 'td-tools-dark': index % 2 != 0, 'td-tools-light': index % 2 == 0 }" v-for="(axes, index) in firstRow">
                                <label v-if="axes != null && axes.ConvertedValue != null" class="label-electrospindle-data-value" v-html="axes.ConvertedValue"></label>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 0; background-color: #bebebe" colspan="3">
                                <hr width="88%" align="center" class="tools" style="background-color: #d2d2d2">
                            </td>
                        </tr>
                        <tr>
                            <td class="td-axes" v-bind:class="{ 'td-tools-dark': index % 2 != 0, 'td-tools-light': index % 2 == 0 }" v-for="(axes, index) in secondRow">
                                <label style="font-size: 0.7rem;"><i class="fa icofom-assekm fa-2x" aria-hidden="true"></i></label>
                                <label v-if="axes != null && axes.Description != null" class="label-electrospindle-title" v-html="axes.Description"></label>
                            </td>
                        </tr>
                        <tr>
                            <td class="td-axes no-padding" v-bind:class="{ 'td-tools-dark': index % 2 != 0, 'td-tools-light': index % 2 == 0 }" v-for="(axes, index) in secondRow">
                                <label v-if="axes != null && axes.ConvertedValue != null" class="label-electrospindle-data-value" v-html="axes.ConvertedValue"></label>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 0; background-color: #bebebe" colspan="3">
                                <hr width="88%" align="center" class="tools" style="background-color: #d2d2d2">
                            </td>
                        </tr>
                        <tr>
                            <td class="td-axes" v-bind:class="{ 'td-tools-dark': index % 2 != 0, 'td-tools-light': index % 2 == 0 }" v-for="(axes, index) in thirtRow">
                                <label style="font-size: 0.7rem;"><i class="fa icofom-assekm fa-2x" aria-hidden="true"></i></label>
                                <label v-if="axes != null && axes.Description != null" class="label-electrospindle-title" v-html="axes.Description"></label>
                            </td>
                        </tr>
                        <tr>
                            <td class="td-axes no-padding" v-bind:class="{ 'td-tools-dark': index % 2 != 0, 'td-tools-light': index % 2 == 0 }" v-for="(axes, index) in thirtRow">
                                <label v-if="axes != null && axes.ConvertedValue != null" class="label-electrospindle-data-value" v-html="axes.ConvertedValue"></label>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 0; background-color: #bebebe" colspan="3">
                                <hr width="88%" align="center" class="tools" style="background-color: #d2d2d2">
                            </td>
                        </tr>
                        <tr>
                            <td class="td-axes" v-bind:class="{ 'td-tools-dark': index % 2 != 0, 'td-tools-light': index % 2 == 0 }" v-for="(axes, index) in fourthRow">
                                <label style="font-size: 0.7rem;"><i class="fa icofom-assekm fa-2x" aria-hidden="true"></i></label>
                                <label v-if="axes != null && axes.Description != null" class="label-electrospindle-title" v-html="axes.Description"></label>
                            </td>
                        </tr>
                        <tr>
                            <td class="td-axes no-padding" v-bind:class="{ 'td-tools-dark': index % 2 != 0, 'td-tools-light': index % 2 == 0 }" v-for="(axes, index)  in fourthRow">
                                <label v-if="axes != null && axes.ConvertedValue != null" class="label-electrospindle-data-value" v-html="axes.ConvertedValue"></label>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 0; background-color: #bebebe" colspan="3">
                                <hr width="88%" align="center" class="tools" style="background-color: #d2d2d2">
                            </td>
                        </tr>
                        <tr>
                            <td class="td-axes" v-bind:class="{ 'td-tools-dark': index % 2 != 0, 'td-tools-light': index % 2 == 0 }" v-for="(axes, index) in fifthRow">
                                <label style="font-size: 0.7rem;"><i class="fa icofom-assekm fa-2x" aria-hidden="true"></i></label>
                                <label v-if="axes != null && axes.Description != null" class="label-electrospindle-title" v-html="axes.Description"></label>
                            </td>
                        </tr>
                        <tr>
                            <td class="td-axes no-padding" v-bind:class="{ 'td-tools-dark': index % 2 != 0, 'td-tools-light': index % 2 == 0 }" v-for="(axes, index)  in fifthRow">
                                <label v-if="axes != null && axes.ConvertedValue != null" class="label-electrospindle-data-value" v-html="axes.ConvertedValue"></label>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
            <no-data v-else></no-data>
        </div>
    </div>

    </div>
</div>


<script type="text/javascript">

    $(document).ready(function ()
    {
        var data = @Html.Raw(Json.Encode(Model));
        AxesLmx650.init(data);
    });

</script>
