<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!-- In case configuration is not the root element, replace it with root element in source configuration file -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="UserManagerEntities"
      connectionString="metadata=res://*/DAL.UserManager.csdl|res://*/DAL.UserManager.ssdl|res://*/DAL.UserManager.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.104.1.32;initial catalog=LOLAPROD_UM;persist security info=True;user id=SA_LOLA;password=Alten_13_2018;multipleactiveresultsets=True;app=EntityFramework&quot;" providerName="System.Data.EntityClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>