@model FomMonitoringBLL.ViewModel.MesViewModel

@{
    ViewBag.AppTitle = "Machine Monitoring";
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}

<div id="MesLevel" class="row">
    <div v-for="machine in machines" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="box-machine">
            <div v-if="showOverlay(machine)" class="box-overlay" v-on:click="locationMachine(machine.info.id)"></div>
            <div class="status" v-if="machine.state != null" v-bind:class="'bg-' + machine.state.code"></div>
            <div class="status bg-default" v-else></div>
            <div class="box-title" >
                <div class="row">
                    <div class="col-xs-3 col-icon text-right" v-on:click="locationMachine(machine.info.id)">
                        <i class="icofom-size" v-bind:class="iconMachine(machine)"></i>
                    </div>
                    <div class="col-xs-7 col-info" v-on:click="locationMachine(machine.info.id)">
                        <div class="machine-header">
                            <div class="machine-info" v-if="machine.info.description != null">
                                <div class="text-uppercase">{{ machine.info.description }}</div>
                                <div class="text-lowercase">{{ machine.info.model }}</div>
                            </div>
                            <div class="machine-info" v-else>
                                <div class="text-uppercase">{{ machine.info.model }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2 col-button">
                        <div class="btn btn-circle btn-rotate js-toggle-card hidden-xs" v-bind:data-cardid="'card-' + machine.info.id">
                            <i class="icon-refresh fa-lg"></i>
                        </div>
                        <a class="btn btn-circle btn-rotate visible-xs" v-bind:data-cardid="'card-' + machine.info.id"
                           data-toggle="collapse" v-bind:href="'#kpi-' + machine.info.id" aria-expanded="false">
                            <i class="fa fa-angle-down fa-lg"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="card-portlet hidden-xs" v-bind:class="'card-' + machine.info.id">
                    <div class="front">
                        <div class="row">
                            <div class="col-xs-3 text-right">
                                <span class="fa-stack fa-lg" v-if="machine.state != null">
                                    <i class="fa fa-square fa-stack-2x" v-bind:class="'cr-' + machine.state.code"></i>
                                    <i class="fa fa-stack-1x fa-inverse" v-bind:class="iconState(machine.state)"></i>
                                </span>
                                <span class="fa-stack fa-lg" v-else>
                                    <i class="fa fa-square fa-stack-2x color-default"></i>
                                    <i class="fa fa-stack-1x color-aaa fa-remove"></i>
                                </span>
                            </div>
                            <div class="col-xs-9 padding-left-5">
                                <div class="item-label clearfix" v-if="machine.state != null">
                                    <div class="pull-left">
                                        <div>{{ machine.state.text}}</div>
                                    </div>
                                    <div v-if="machine.state.code == 'error'" class="pull-right text-right">
                                        <div>{{ machine.error}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 text-right">
                                <span class="fa-stack fa-lg" v-if="machine.job != null">
                                    <i class="fa fa-square fa-stack-2x" v-bind:class="colorJob(machine.job.perc)"></i>
                                    <i class="fa fa-stack-1x font-12x fa-inverse" v-bind:class="iconJob(machine.job.perc)"></i>
                                </span>
                                <span class="fa-stack fa-lg" v-else>
                                    <i class="fa fa-square fa-stack-2x color-default"></i>
                                    <i class="fa fa-stack-1x font-12x color-aaa icofom-jobs"></i>
                                </span>
                            </div>
                            <div class="col-xs-9 padding-left-5">
                                <div class="item-label clearfix" v-if="machine.job != null">
                                    <div class="pull-left">
                                        <div>{{ machine.job.code }}</div>
                                    </div>
                                    <div class="pull-right text-right">
                                        <div>{{ machine.job.perc }}<em>%</em></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 text-right">
                                <span class="fa-stack fa-lg" v-if="machine.operator != null">
                                    <i class="fa fa-square fa-stack-2x color-operator"></i>
                                    <i class="fa fa-stack-1x fa-inverse icofom-user"></i>
                                </span>
                                <span class="fa-stack fa-lg" v-else>
                                    <i class="fa fa-square fa-stack-2x color-default"></i>
                                    <i class="fa fa-stack-1x color-aaa icofom-user"></i>
                                </span>
                            </div>
                            <div class="col-xs-9 padding-left-5">
                                <div class="item-label">
                                    <div>{{ machine.operator }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="back">
                        <div class="row">
                            <div class="col-xs-3 text-right">
                                <span class="fa-stack fa-lg" v-if="machine.efficiency != null">
                                    <i class="fa fa-circle fa-stack-2x" v-bind:class="colorKPI(machine.efficiency.kpi)"></i>
                                    <i class="fa icofom-efficiency font-12x fa-stack-1x fa-inverse"></i>
                                </span>
                                <span class="fa-stack fa-lg" v-else>
                                    <i class="fa fa-circle fa-stack-2x color-default"></i>
                                    <i class="fa icofom-efficiency font-12x fa-stack-1x color-aaa"></i>
                                </span>
                            </div>
                            <div class="col-xs-9 padding-left-5">
                                <div class="item-label clearfix" v-if="machine.efficiency != null">
                                    <div class="pull-left">
                                        <div>{{ machine.efficiency.kpi.value | round }}<em>%</em></div>
                                    </div>
                                    <div class="pull-right text-right">
                                        <div>
                                            <i class="fa icofom-overfeed color-aaa"></i>
                                            <span>{{ machine.efficiency.overfeed.value | round }}<em>%</em></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 text-right">
                                <span class="fa-stack fa-lg" v-if="machine.productivity != null">
                                    <i class="fa fa-circle fa-stack-2x" v-bind:class="colorKPI(machine.productivity.kpi)"></i>
                                    <i class="fa icofom-productivity fa-stack-1x fa-inverse"></i>
                                </span>
                                <span class="fa-stack fa-lg" v-else>
                                    <i class="fa fa-circle fa-stack-2x color-default"></i>
                                    <i class="fa icofom-productivity fa-stack-1x fa-inverse color-aaa"></i>
                                </span>
                            </div>
                            <div class="col-xs-9 padding-left-5">
                                <div class="item-label clearfix" v-if="machine.productivity != null">
                                    <div class="pull-left">
                                        <div>{{ machine.productivity.kpi.value }}<em>pz/h</em></div>
                                    </div>
                                    <div class="pull-right text-right">
                                        <div>
                                            <i class="fa fa-puzzle-piece color-aaa"></i>
                                            <span>{{ machine.productivity.piece.total }}<em>pz</em></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 text-right">
                                <span class="fa-stack fa-lg" v-if="machine.alarms != null">
                                    <i class="fa fa-circle fa-stack-2x" v-bind:class="colorAlarms(machine.alarms.quantity)"></i>
                                    <i class="fa fa-exclamation-triangle fa-stack-1x fa-inverse"></i>
                                </span>
                                <span class="fa-stack fa-lg" v-else>
                                    <i class="fa fa-circle fa-stack-2x color-default"></i>
                                    <i class="fa icofom-alarms fa-stack-1x fa-inverse color-aaa"></i>
                                </span>
                            </div>
                            <div class="col-xs-9 padding-left-5">
                                <div class="item-label clearfix" v-if="machine.alarms != null">
                                    <div class="pull-left">
                                        <div>{{ machine.alarms.quantity }}<em>n</em></div>
                                    </div>
                                    <div class="pull-right text-right">
                                        <div>
                                            <i class="fa fa-clock-o color-aaa"></i>
                                            <time-span v-bind:duration="machine.alarms.time"></time-span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide-portlet visible-xs">
                    <div class="row">
                        <div class="col-xs-3 text-right">
                            <span class="fa-stack fa-lg" v-if="machine.job != null">
                                <i class="fa fa-square fa-stack-2x" v-bind:class="colorJob(machine.job.perc)"></i>
                                <i class="fa fa-stack-1x font-12x fa-inverse" v-bind:class="iconJob(machine.job.perc)"></i>
                            </span>
                            <span class="fa-stack fa-lg" v-else>
                                <i class="fa fa-square fa-stack-2x color-default"></i>
                                <i class="fa fa-stack-1x font-12x color-aaa icofom-jobs"></i>
                            </span>
                        </div>
                        <div class="col-xs-9 padding-left-5">
                            <div class="item-label clearfix" v-if="machine.job != null">
                                <div class="pull-left">
                                    <div>{{ machine.job.code }}</div>
                                </div>
                                <div class="pull-right text-right">
                                    <div>{{ machine.job.perc }}<em>%</em></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-bind:id="'kpi-' + machine.info.id" class="collapse">
                        <div class="row">
                            <div class="col-xs-3 text-right">
                                <span class="fa-stack fa-lg" v-if="machine.state != null">
                                    <i class="fa fa-square fa-stack-2x" v-bind:class="'cr-' + machine.state.code"></i>
                                    <i class="fa fa-stack-1x fa-inverse" v-bind:class="iconState(machine.state)"></i>
                                </span>
                                <span class="fa-stack fa-lg" v-else>
                                    <i class="fa fa-square fa-stack-2x color-default"></i>
                                    <i class="fa fa-stack-1x color-aaa fa-remove"></i>
                                </span>
                            </div>
                            <div class="col-xs-9 padding-left-5">
                                <div class="item-label clearfix" v-if="machine.state != null">
                                    <div class="pull-left">
                                        <div>{{ machine.state.text}}</div>
                                    </div>
                                    <div v-if="machine.state.code == 'error'" class="pull-right text-right">
                                        <div>{{ machine.error}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 text-right">
                                <span class="fa-stack fa-lg" v-if="machine.operator != null">
                                    <i class="fa fa-square fa-stack-2x color-operator"></i>
                                    <i class="fa fa-stack-1x fa-inverse icofom-user"></i>
                                </span>
                                <span class="fa-stack fa-lg" v-else>
                                    <i class="fa fa-square fa-stack-2x color-default"></i>
                                    <i class="fa fa-stack-1x color-aaa icofom-user"></i>
                                </span>
                            </div>
                            <div class="col-xs-9 padding-left-5">
                                <div class="item-label">
                                    <div>{{ machine.operator }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row border-top">
                            <div class="col-xs-3 text-right">
                                <span class="fa-stack fa-lg" v-if="machine.efficiency != null">
                                    <i class="fa fa-circle fa-stack-2x" v-bind:class="colorKPI(machine.efficiency.kpi)"></i>
                                    <i class="fa icofom-efficiency font-12x fa-stack-1x fa-inverse"></i>
                                </span>
                                <span class="fa-stack fa-lg" v-else>
                                    <i class="fa fa-circle fa-stack-2x color-default"></i>
                                    <i class="fa icofom-efficiency font-12x fa-stack-1x color-aaa"></i>
                                </span>
                            </div>
                            <div class="col-xs-9 padding-left-5">
                                <div class="item-label clearfix" v-if="machine.efficiency != null">
                                    <div class="pull-left">
                                        <div>{{ machine.efficiency.kpi.value | round }}<em>%</em></div>
                                    </div>
                                    <div class="pull-right text-right">
                                        <div>
                                            <i class="fa icofom-overfeed color-aaa"></i>
                                            <span>{{ machine.efficiency.overfeed.value }}<em>%</em></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 text-right">
                                <span class="fa-stack fa-lg" v-if="machine.productivity != null">
                                    <i class="fa fa-circle fa-stack-2x" v-bind:class="colorKPI(machine.productivity.kpi)"></i>
                                    <i class="fa icofom-productivity fa-stack-1x fa-inverse"></i>
                                </span>
                                <span class="fa-stack fa-lg" v-else>
                                    <i class="fa fa-circle fa-stack-2x color-default"></i>
                                    <i class="fa icofom-productivity fa-stack-1x fa-inverse color-aaa"></i>
                                </span>
                            </div>
                            <div class="col-xs-9 padding-left-5">
                                <div class="item-label clearfix" v-if="machine.productivity != null">
                                    <div class="pull-left">
                                        <div>{{ machine.productivity.kpi.value }}<em>pz/h</em></div>
                                    </div>
                                    <div class="pull-right text-right">
                                        <div>
                                            <i class="fa fa-puzzle-piece color-aaa"></i>
                                            <span>{{ machine.productivity.piece.total }}<em>pz</em></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 text-right">
                                <span class="fa-stack fa-lg" v-if="machine.alarms != null">
                                    <i class="fa fa-circle fa-stack-2x" v-bind:class="colorAlarms(machine.alarms.quantity)"></i>
                                    <i class="fa icofom-alarms fa-stack-1x fa-inverse"></i>
                                </span>
                                <span class="fa-stack fa-lg" v-else>
                                    <i class="fa fa-circle fa-stack-2x color-default"></i>
                                    <i class="fa icofom-alarms fa-stack-1x fa-inverse color-aaa"></i>
                                </span>
                            </div>
                            <div class="col-xs-9 padding-left-5">
                                <div class="item-label clearfix" v-if="machine.alarms != null">
                                    <div class="pull-left">
                                        <div>{{ machine.alarms.quantity }}<em>n</em></div>
                                    </div>
                                    <div class="pull-right text-right">
                                        <div>
                                            <i class="fa fa-clock-o color-aaa"></i>
                                            <time-span v-bind:duration="machine.alarms.time"></time-span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function ()
    {
        var urlMachine = '@Url.Action("Index", "Machine")';
        var urlMesAPI = '@Url.HttpRouteUrl("DefaultApi", new { controller = "AppApi", action = "GetMesViewModel" })';
        var data = @Html.Raw(Json.Encode(Model));

        MesManager.init(urlMachine, urlMesAPI, data);
    });

</script>

