
@{
    ViewBag.Title = "Upload Configuration";
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}

@using (Html.BeginForm("SaveConfiguration",
    "UploadConfiguration",
    FormMethod.Post,
    new
    {
        enctype = "multipart/form-data",
        style = "width:100%;display:flex"
    }))
{
    <div class="row" style="padding-top: 30px; padding-bottom: 30px; min-height: 100px;width: 100%;">
        <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
            <label for="file" class="control-label-user-timezone">Upload Lola.xml file:</label>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 color-corporate">
            <input class="form-control modal-input" style="color:#676767" type="file" name="file" id="file" />
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2" style="padding-top: 5px;">
            <button type="submit" class="button-adduser">
                <i class="fa fa-upload fa-lg color-corporate"></i>Upload File
            </button>
        </div>
    </div>
}
   
    <style>
        #file-upload-button {
            color: #b33157;
            text-transform: uppercase;
        }
        .swal-modal {
            width: 40vw;
        }
    </style>
    <script>
    $(document).ready(function() {
        @if (ViewBag.success == true)
        {
            <text>
                swal(
                    {
                        title: "",
                        text: "import succed",
                        icon:"success",
                        allowOutsideClick: true,
                        closeModal: true
                    });

            </text>
        }
        @if (ViewBag.success == false && ViewBag.errors != null)
        {

            <text>

            swal(
                    {
                title: "",
                        text: "@(ViewBag.errors ?? String.Empty)",
                        icon:"error",
                        allowOutsideClick: true,
                        closeModal: true
                    });

            </text>
        }
    });
    </script>