<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
      -->
  <appSettings>
    <add key="MongoDatabaseName" value="lola" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="MongoUsername" value="LolaAdmin" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="MongoPassword" value="LolaAdmin2019" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="MongoPort" value="27017" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="MongoHost" value="172.31.1.28" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="RabbitMqHost" value="172.31.1.28" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="RabbitMqUsername" value="lola" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="RabbitMqPassword" value="lola_queue_2019" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="PathSchemaLOLA" value="C:\JsonSchemas" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  </appSettings>
  <log4net>
    <appender name="LogDatabaseAppender" type="log4net.Appender.AdoNetAppender" xdt:Locator="Match(name)">
      <connectionString value="data source=10.104.1.62;initial catalog=LOLATEST;persist security info=True;user id=SA_LOLA;password=qgJ0v2s&amp;l;multipleactiveresultsets=True"
            xdt:Transform="Replace" />
    </appender>
  </log4net>

  <connectionStrings>
    <add name="FomMonitoringEntities"
         connectionString="metadata=res://*/FomMonitoringModel.csdl|res://*/FomMonitoringModel.ssdl|res://*/FomMonitoringModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.104.1.62;initial catalog=LOLATEST;persist security info=True;user id=SA_LOLA;password=qgJ0v2s&amp;l;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" 
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>

</configuration>